@model RescueShare.Models.TransportViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PickupTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickupTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DropoffTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DropoffTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransportTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransportTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceiverType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceiverType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SenderType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShelterSender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShelterSender.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShelterReceiver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShelterReceiver.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FosterSender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FosterSender.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FosterReceiver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FosterReceiver.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RescueSender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RescueSender.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RescueReceiver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RescueReceiver.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
