@model IEnumerable<RescueShare.Models.Dog>

@{
    ViewData["Title"] = "ManageDogs";
}
<p>
    <partial name="_ShelterLayout" />
</p>
<h2>Manage Dogs</h2>

<p>
    <a asp-controller="Dogs" asp-action="Create">Add New Dog</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMedications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentInjuries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSaved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Space)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentMedications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentInjuries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSaved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Space.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Id)
            </td>
            <th>
                @Html.DisplayNameFor(model => item.Image.Name)
            </th>
            <td>
                <a asp-controller="Dogs" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Dogs" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Dogs" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
