@model RescueShare.Models.Dog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentMedications)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentMedications)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentInjuries)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentInjuries)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Food)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Food)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSaved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSaved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Space)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Space.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shelter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shelter.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
